<header>
  {{ partial:layout/container/inner class="flex flex-col gap-y-40 lg:gap-y-60 relative" }}

    {{ if is_homepage }}
    
      {{ partial:icons/logo class="w-full h-auto" }}

      <a 
        href="https://www.mylocalina.ch/widget/?id=3a7922ec-a5e0-4a90-bd45-b5ed3a79dd34"
        title="Reservation"
        aria-label="Reservation"
        target="_blank"
        class="animation-container block fixed z-50 top-[25%] md:top-[38%] lg:top-[48%] right-[5%] xl:right-[10%] w-120 h-120 sm:w-160 sm:h-160 md:w-200 md:h-200 lg:w-240 lg:h-240">
        {{ partial:icons/badge class="w-full h-auto overflow-visible" }}
      </a>

      {{ partial:menu/main/wrapper }}

    {{ else }}

      <div class="flex justify-between items-center">
        {{ partial:components/headings/h1 }}
          {{ title }}
        {{ /partial:components/headings/h1 }}

        <a 
          href="/" 
          title="Zurück zur Startseite" 
          aria-label="Zurück zur Startseite" 
          class="text-plum group w-40 lg:w-56 xl:w-64">
          {{ partial:icons/arrow class="w-full h-auto group-hover:-translate-x-4 transition-all" }}
        </a>
      </div>

    {{ /if }}

  {{ /partial:layout/container/inner }}
</header>
