<article class="relative">
  <div class="swiper gallery-swiper !max-w-[calc(100%_-_60px)] md:!max-w-[calc(100%_-_80px)] lg:!max-w-[calc(100%_-_90px)] mx-auto">
    <div class="swiper-wrapper">
      {{ images }}
        <div class="swiper-slide">
          {{ partial:components/media/image
            preset="gallery-md"
            :sizes="['2xl', 'xl', 'lg', 'md']"
            class="w-full h-auto object-cover"
          }}
        </div>
      {{ /images }}
    </div>

    <!-- Pagination inside swiper -->
    <div class="swiper-pagination"></div>
  </div>

  <!-- Navigation buttons -->
  <button class="swiper-btn-prev">
    ‹
  </button>
  <button class="swiper-btn-next">
    ›
  </button>
</article>