@import "typo/webfonts.css";
@import "gallery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
  @apply !hidden;
}

main {
  @apply flex-1;
}

main a {
  @apply underline underline-offset-4 md:underline-offset-8 decoration-1 md:decoration-2 hover:text-plum hover:no-underline;
}

p:not(:last-child),
ul:not(:last-child) {
  @apply mb-30;
}

p:has(+ ul) {
  @apply !mb-0
}

ul:not(nav ul) {
  @apply list-disc ml-20 sm:ml-25 lg:ml-30 flex flex-col gap-y-10 lg:gap-y-15 my-30;
}

ul li {

}

strong {
  @apply font-reckless-bold font-bold;
}

.animation-container {
  transition: transform 0.3s ease;
}

.animation-container:hover [data-animation-rotation] {
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[data-animation-rotation] {
  transform-origin: 250px 248.5px;
  transition: animation 0.3s ease;
}